<!DOCTYPE html>
<html>

<head>
    <meta charset=utf-8>
    <meta name=viewport content="initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no,viewport-fit=cover">
    <link rel=icon href=/web-app/favicon.ico> <title>易修</title>
    <style type="text/css">
    #msg {
        display: none;
    }
    </style>

<body>
    <div id="userAgent"></div>
    <p id="msg">请在手机浏览器中打开下载地址: <mark>wodiancai.com/cr/download</mark></p>
    <script type="text/javascript">
    let userAgent = navigator.userAgent.toLowerCase();
    let isWx = /micromessenger/.test(userAgent);
    let isiPhone = /iphone|mac ox/.test(userAgent);
    let ismiui = /xiaomi|miuibrowser/.test(userAgent);
    if (isWx) {
        document.getElementById('msg').style.display = 'block';
    }else if(isiPhone && !ismiui){
        location.href = "itms-apps://apps.apple.com/cn/app/1483796699";
    }else{
         location.href = "/cr/rcyx-release.apk";
    }

    document.getElementById('userAgent').innerHTML = navigator.userAgent;
    </script>
</body>

</html>