<!DOCTYPE html>
<html>

<head>
    <meta charset=utf-8>
    <meta name=viewport content="initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no,viewport-fit=cover">
    <link rel=icon href=/web-app/favicon.ico> <title>维护系统</title>
    <link rel=stylesheet type=text/css href=http://unpkg.com/iview/dist/styles/iview.css> <link href=/web-app/css/chunk-126220d0.06741428.css rel=prefetch>
    <link href=/web-app/css/chunk-22702e16.de0b2ad0.css rel=prefetch>
    <link href=/web-app/css/chunk-2350136c.fe5a94d3.css rel=prefetch>
    <link href=/web-app/css/chunk-2c296e84.adeb95d4.css rel=prefetch>
    <link href=/web-app/css/chunk-607c0029.9873f916.css rel=prefetch>
    <link href=/web-app/css/chunk-691fc6e4.4a6076bf.css rel=prefetch>
    <link href=/web-app/js/chunk-126220d0.ebf30dbf.js rel=prefetch>
    <link href=/web-app/js/chunk-22702e16.35fb56e2.js rel=prefetch>
    <link href=/web-app/js/chunk-2350136c.5b5f1681.js rel=prefetch>
    <link href=/web-app/js/chunk-2c296e84.c754177c.js rel=prefetch>
    <link href=/web-app/js/chunk-607c0029.5d0d4f90.js rel=prefetch>
    <link href=/web-app/js/chunk-691fc6e4.fc25e834.js rel=prefetch>
    <link href=/web-app/css/app.4992faab.css rel=preload as=style>
    <link href=/web-app/js/app.046b5b85.js rel=preload as=script>
    <link href=/web-app/js/chunk-vendors.66f08247.js rel=preload as=script>
    <link href=/web-app/css/app.4992faab.css rel=stylesheet>
</head>

<body>
    <div id="App">
    </div>
    <script src=/web-app/js/chunk-vendors.66f08247.js> </script> <script src=/web-app/js/app.046b5b85.js> </script> </body> </html>